.App {
  text-align: center;
    font-size: calc(2px + 4vmin);
}

.App-header {
  background-color: darkcyan;
  height: 7vh;
}

.Header-menu {
    margin-left: 3vmin;
    margin-right: 3vmin;
    color: darkslategrey;
    background-color: inherit;
    display: inline-block;
    padding: 1vmin;
    height: 100%;
}

.Header-menu:hover {
    color: black;
    background-color: inherit;
}

.Header-active {
    color: black;
    background-color: darkgrey;
    border-style: groove groove none groove;
}

.Header-active:hover {
    color: black;
    background-color: darkgrey;
    border-style: groove groove none groove;
}

.sub-Header {
    height: 14vh;
    background-color: darkgrey;
    border-style: none none groove none;
}

.Body {
    height: 79vh;
    background-color: lightgray;
}